name: Build and Publish Docker Image on GHCR

on:
  push:
    branches: ["main", "front", "Continuare-backend"]
  pull_request:
    branches: ["main", "front", "Continuare-backend"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  

    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to GHCR
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u raducosminalexandru --password-stdin
          
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
